<!--<!DOCTYPE html>-->
<!--<html lang="en"-->
<!--      xmlns:th="http://www.thymeleaf.org"-->
<!--&gt;-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Sucursal Registered Data</title>-->
<!--</head>-->
<!--<body>-->
<!--<div align="center">-->
<!--    <h1>Registered Sucursal Information</h1>-->
<!--    <div>-->
<!--        <p>Name: <strong th:text="${sucursalDTO.nombreSucursal}"></strong></p>-->
<!--        <p>Country: <strong th:text="${sucursalDTO.paisSucursal}"></strong></p>-->
<!--&lt;!&ndash;        <p>Country: <strong th:text="${sucursalDTO.listaPaises}"></strong></p>&ndash;&gt;-->
<!--&lt;!&ndash;        <p>Region: <strong th:text="${sucursalDTO.tipoSucursal}"></strong></p>&ndash;&gt;-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->